<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddtop15">
                <div class="promo-text-footer">Contact us</div>
                <ul class="contact-footer">
                    <li><i class="icon-location"></i>Address: New Baneshwor,Kathmandu</li>
                    <li><a href="tel: +97714465843"><i class="icon-mobile"></i>Phone no:  (977)-1-4465843</a></li>
                    <li><a href="tel:+9779803506692"><i class="icon-mobile"></i>Mobile no: (977) - 9803506692</a></li>
                    <li><i class="icon-videocam"></i> Skype: progressinc</li>
                    <li><a href="mailto:progressincnepal@gmail.com"><i class="icon-mail"></i>Email: progressincnepal@gmail.com</a></li>
                    <li><a href="http://www.progressincnepal.com.np" target="_blank"><i class="icon-desktop"></i> www.progressincnepal.com.np</a></li>
                    <li><i class="icon-key"></i> Operating hours: Monday to Friday - 10 AM to 5 PM</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddtop15">
                <div class="promo-text-footer">Our Research Photos</div>
                <div class="flickr_widget_wrapper">
                    <script src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=147151699@N04"></script>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 paddtop15">
                <div class="promo-text-footer">Follow Us</div>
                <ul class="soc-footer">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="footer-bottom">
                <div class="col-lg-6 col-md-6 col-sm-6 col-ms-12 pull-left ">
                    <div class="foot_menu">
                        <ul>
                            <li><a href="#banner" class="scroll-to">Home</a></li>
                            <li><a href="#company_history" class="scroll-to">Company History</a></li>
                            <li><a href="#testimonials" class="scroll-to">Recent News</a></li>
                            <li><a href="#area_of_expertise" class="scroll-to">Area of Expertise</a></li>
                            <li><a href="#our_clients" class="scroll-to">Clients</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-ms-12 pull-right">
                    <div class="copyright">Copyright © 2016 <a href="www.rumsan.com">Rumsan Associates</a>.</div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/js/waypoints.min.js"></script>
<script type="text/javascript" src="/js/sticky.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/js/testimonialrotator.js"></script>
<script type="text/javascript" src="/js/jquery.cycle.all.js"></script>
<script type="text/javascript" src="/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/js/jquery.cubeportfolio.min.js"></script>
<script type="text/javascript" src="/js/portfolio-main.js"></script>
<script type="text/javascript" src="/js/jcarousel.responsive.js"></script>
<script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/js/jquery.dlmenu.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/scrollnav.js"> </script>