<title><%=page.title%></title>
<!-- Favicon -->
<link href="images/favicon.png" rel="icon" type="image/x-icon" />

<meta content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no" name="viewport"  />

<link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/responsive.css" media="screen" rel="stylesheet" type="text/css">
<link href="/rs-plugin/css/settings.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/navstylechange.css" media="screen" rel="stylesheet" type="text/css">
<link href="assets/css/flexslider.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/cubeportfolio.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/testimonialrotator.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/custom.css" media="screen" rel="stylesheet" type="text/css">

<!-- JS FILES -->
<script type="text/javascript" src="/js/jquery-1.20.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/modernizr.custom.js"></script>


<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

