<header>
    <div class="top_line">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 pull-left hidden-xs">
                    <ul class="contact-top">
                        <li><i class="icon-location"></i>New Baneshwor, Kathmandu</li>
                        <li><a href="tel:+9779803506692"><i class="icon-mobile"></i>(977) - 9803506692 </a></li>
                        <li><a href="mailto:progressincnepal@gmail.com"><i class="icon-mail"></i>progressincnepal@gmail.com </a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 pull-right hidden-phone">
                    <ul class="social-links">
                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li id="search-btn"><a href="#"><i class="icon-search"></i></a></li>
                    </ul>
                    <div class="search-input" id="search-input" style="display: none;">
                        <input id="s-input" type="text" placeholder="Search...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="page_head">
    <div class="nav-container" style="height: auto;">
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 pull-left">
                        <div class="logo"><a href="index.html"><img src="/images/logo.png" alt="" width="80" height="80"></a></div>
                    </div>
                    <div class="col-lg-9 pull-right">
                        <div class="menu">
                            <div id="dl-menu" class="dl-menuwrapper">
                                <button class="dl-trigger">Open Menu</button>
                                <ul class="dl-menu">
                                    <li class="current">
                                        <a href="#banner" class="scroll-to">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">We are</a>
                                        <ul class="dl-submenu">
                                            <li><a href="#company_history" class="scroll-to">Company History</a></li>
                                            <li><a href="#advantages" class="scroll-to">Our Advantages / Strengths</a></li>
                                            <li><a href="#standardization" class="scroll-to">Company Standardization and Quality Control</a></li>
                                            <li><a href="#area_of_expertise" class="scroll-to">Areas of Expertise</a></li>
                                            <li><a href="#partners_collaborations" class="scroll-to">Partners / Collaborations</a></li>
                                            <li><a href="#careers" class="scroll-to">Careers</a></li>
                                            <li>
                                                <a href="#team_members" class="scroll-to" >Team</a>
                                                <ul class="dl-submenu">
                                                    <li><a href="#advisors"  class="scroll-to">Advisors</a></li>
                                                    <li><a href="#management"  class="scroll-to">Management</a></li>
                                                    <li><a href="#consultants"  class="scroll-to">Consultants</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#works_portfolio"  class="scroll-to">Our Work / Portfolio </a></li>
                                    <li><a href="#contact_us" class="scroll-to" >Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>