
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>
<div id="wrapper">
<header id="header">
    <% include common/header %>
</header>


<section id="banner">
    <div class="tp-banner-container"  style="height:auto;">
        <div class="tp-banner">
            <ul style="display:none;">
                <li data-transition="fade" data-slotamount="7" data-masterspeed="700">
                    <img src="/images/fon1.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="tp-caption largeblackbg sfb"
                         data-x="center"
                         data-y="95"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        Healing is in your Hands
                    </div>
                    <div class="tp-caption largeborder skewfromrightshort"
                         data-x="center"
                         data-y="200"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1100"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9">
                    </div>
                    <div class="tp-caption largetext sft"
                         data-x="center"
                         data-y="250"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1400"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9">
                        Pellentesque luctus ac lorem aenean sagittis magna purus vehicsula. Tristique nunc a felis ultricies, ultrices erat<br>Suspendisse velit ticol sodales, viverra sigirton vitae, accumsan orci mauris nec ipsum
                    </div>
                    <div class="tp-caption largebutton lfb"
                         data-x="center"
                         data-y="360"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9">
                        <a href="#">Join Our Team</a>
                    </div>
                </li>
                <li data-transition="random" data-slotamount="7" data-masterspeed="700">
                    <img src="/images/fon2.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="tp-caption largeblackbg sfb"
                         data-x="30"
                         data-y="80"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                        Together we can change many lives..
                    </div>
                    <div class="tp-caption largetext sft"
                         data-x="30"
                         data-y="170"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1100"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9;text-align:left;">
                        Pellentesque luctus ac lorem aenean sagittis magna purus vehicsula.<br> Tristique nunc a felis ultricies, ultrices eratSuspendisse velit ticol sodales
                    </div>
                    <div class="tp-caption largebutton lft"
                         data-x="30"
                         data-y="270"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="2400"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9">
                        <a href="#">Learn more</a>
                    </div>
                    <div class="tp-caption lfb"
                         data-x="730"
                         data-y="40"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1650"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9">
                        <img src="/images/imac.png" alt="">
                    </div>
                </li>
                <li data-transition="random" data-slotamount="7" data-masterspeed="700">
                    <img src="/images/fon3.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="tp-caption largeblackbg sfb"
                         data-x="550"
                         data-y="75"
                         data-speed="500"
                         data-start="1400"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9">
                        We can change the world !!
                    </div>
                    <div class="tp-caption largetext sft"
                         data-x="550"
                         data-y="160"
                         data-speed="500"
                         data-start="1600"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9;text-align:left;">
                        Pellentesque luctus ac lorem aenean sagittis magna purus vehicsula.<br> Tristique nunc a felis ultricies, ultrices eratSuspendisse velit ticol sodales
                    </div>
                    <div class="tp-caption largeblackbg sfb"
                         data-x="540"
                         data-y="250"
                         data-speed="500"
                         data-start="1800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9">
                        <i class="icon-user"></i>
                    </div>
                    <div class="tp-caption largeblackbg sfb"
                         data-x="625"
                         data-y="245"
                         data-speed="500"
                         data-start="2000"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9">
                        <i class="glyphicon glyphicon-plus"></i>
                    </div>
                    <div class="tp-caption largeblackbg sfb"
                         data-x="682"
                         data-y="250"
                         data-speed="500"
                         data-start="2200"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9">
                        <i class="icon-mobile"></i>
                    </div>
                    <div class="tp-caption largeblackbg sfb"
                         data-x="765"
                         data-y="250"
                         data-speed="500"
                         data-start="2400"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9">
                        =
                    </div>
                    <div class="tp-caption largeblackbg sfb"
                         data-x="815"
                         data-y="250"
                         data-speed="500"
                         data-start="2600"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9">
                        <i class="icon-desktop"></i>
                    </div>
                    <div class="tp-caption largebutton lft"
                         data-x="550"
                         data-y="350"
                         data-speed="500"
                         data-start="2800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9">
                        <a href="#">Learn More</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        var revapi;
        jQuery(document).ready(function () {
            revapi = jQuery('.tp-banner').revolution({
                delay: 9000,
                startwidth: 1170,
                startheight: 500,
                hideThumbs: 10,
                forceFullWidth: "off"
            });
        }); //ready
    </script>

</section>

<section id="company_history">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-block">
                    <div class="promo-text">Introduction</div>
                    <div class="center-line"></div>
                </div>
                <div class="promo-paragraph">Progress Inc., registered with the Government of Nepal, provides research, monitoring and evaluation, capacity building and other managerial support to public, private and non-profit sectors. It provides a platform for independent consultants and freelancers to contribute through an organization. The aim of the organization is to promote the youths and marginalized groups of this generation with the help of the experienced freelancers. Progress Inc. believes that providing an opportunity to the youths and marginalized individuals will enhance the dimension to mold and stratify the nation’s future, as it is the most talented and underutilized people of this generation.
                    <p>The organization is backed by former and current Government officials and further has a binding network of experienced consultants from various fields such as education, agriculture, governance, livelihood, information technology, engineering, health and much more.</p>
                    <p>Progress Inc. is a gender responsive organization, with one-third of the members being female. In all of its assignments, Progress Inc. involves all or a mix of the youths, marginalized and experienced freelancers. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 marg20">
                <div class="introduction">
                    <img src="/images/intro1.jpg">
                    <div class="intro-name marg20">Who We Are?</div>
                    <div class="intro-desc">Progress Inc. is a gender responsive organization, with one-third of the members being female. In all of its assignments, Progress Inc. involves all or a mix of the youth, marginalized and experienced freelancers.</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 marg20">
                <div class="introduction">
                    <img src="/images/train.jpg">
                    <div class="intro-name marg20 ">What We Do?</div>
                    <div class="intro-desc">We provides a platform for independent consultants and freelancers to contribute through an organization .The aim of the organization is to promote the youths and marginalized groups of this generation with the help of the experienced freelancers.</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 marg20 ">
                <div class="introduction">
                    <img src="/images/c.jpg">
                    <div class="intro-name marg20">Where We Do It?</div>
                    <div class="intro-desc">We provides research, monitoring and evaluation,and other managerial support to public, private and non-profit sectors.It provides a platform for independent consultants and freelancers to contribute through an organization.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="advantages">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-block">
                    <div class="promo-text">Our Advantages/ Strengths</div>
                    <div class="center-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 marg50 hidden-xs">
                <div class="introduction">
                    <img src="/images/services.jpg">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 marg50">
                <div class="">
                    <p class="about-text"><span class="first-letter">O</span>ur Advantages and Strengths of our company are following <strong> : </strong> </p>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <ul class="list-check">
                                <li><i class="icon-ok"></i> Standardized Orientation/Training to Enumerators and Researchers in all project/ assignments</li>
                                <li><i class="icon-ok"></i> Promotion of youth and marginalized in all its assignments</li>
                                <li><i class="icon-ok"></i> Network reach and partnership in all 75 district of the country</li>
                                <li><i class="icon-ok"></i> Competent and large network of external consultants and advisors</li>
                                <li><i class="icon-ok"></i> Promotion of paperless data collection through android based mobile data collection applications such as SurveyCTO, ODK, AKVO, and many others</li>
                                <li><i class="icon-ok"></i> International standard reporting formatting and writing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="standardization">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-block">
                    <div class="promo-text">Company Standardization and Quality Control</div>
                    <div class="center-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container marg50 stand_quality">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel-group wrap" id="bs-collapse">

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#bs-collapse" href="#one">
                                    Orientation/Training
                                </a>
                            </h4>
                        </div>
                        <div id="one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-check">
                                    <li><i class="icon-thumbs-up"></i> Research Ethics: Expectations from researchers, confidentiality aspects, do and don’ts in research.</li>
                                    <li><i class="icon-thumbs-up"></i> Tools/Checklists: Clarification on tools, expected answer type from set questionnaire.</li>
                                    <li><i class="icon-thumbs-up"></i> Mobile Data Collection App/System: Overview of application/system, process of usage and collection, saving, export, quality assurance.</li>
                                    <li><i class="icon-thumbs-up"></i> Piloting of Tools: Pre-test tools for accessibility, reliability and authenticity.</li>
                                    <li><i class="icon-thumbs-up"></i> Debriefing of Piloting: Question and answer session.</li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    <!-- end of panel -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#bs-collapse" href="#two">
                                    Mobile Data Collection Application/System
                                </a>
                            </h4>
                        </div>
                        <div id="two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-check">
                                    <li><i class="icon-thumbs-up"></i> 	Paperless</li>
                                    <li><i class="icon-thumbs-up"></i>	Back checks are unnecessary</li>
                                    <li><i class="icon-thumbs-up"></i> 	GPS location of survey performed can be accessed.</li>
                                    <li><i class="icon-thumbs-up"></i> 	Automatic skip checks.</li>
                                    <li><i class="icon-thumbs-up"></i> 	All questions assigned with unique codes.</li>
                                    <li><i class="icon-thumbs-up"></i> 	Quick and efficient data collection.</li>
                                    <li><i class="icon-thumbs-up"></i> 	Timing of interview conducted can be accessed.</li>
                                    <li><i class="icon-thumbs-up"></i> 	Consistency checks can be performed when enumerators are in the field	.</li>
                                    <li><i class="icon-thumbs-up"></i> 	Analyzing and archiving data will be easier.</li>
                                    <li><i class="icon-thumbs-up"></i> 	Data Extraction and cleaning will be easier.</li>
                                    <li><i class="icon-thumbs-up"></i> 	Submission of cleaned data set with proper labels and codebook which will contain variable name, variable labels, response codes and value labels.</li>
                                    <li><i class="icon-thumbs-up"></i> 	Data stored in password protection company server.</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- end of panel -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#bs-collapse" href="#three">
                                    Human Resources
                                </a>
                            </h4>
                        </div>
                        <div id="three" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-check">
                                    <li><i class="icon-thumbs-up"></i> 	Opportunity for the youths</li>
                                    <li><i class="icon-thumbs-up"></i>	Opportunity for the marginalized community personnel</li>
                                    <li><i class="icon-thumbs-up"></i> 	Gender balanced.</li>
                                    <li><i class="icon-thumbs-up"></i> 	Mixture of experienced and youth in each assignment.</li>
                                    <li><i class="icon-thumbs-up"></i> 	Renowned advisors from various sectors.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end of panel -->
                </div>
                <!-- end of #bs-collapse  -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapse.in').prev('.panel-heading').addClass('active');
            $('#accordion, #bs-collapse')
                .on('show.bs.collapse', function (a) {
                    $(a.target).prev('.panel-heading').addClass('active');
                })
                .on('hide.bs.collapse', function (a) {
                    $(a.target).prev('.panel-heading').removeClass('active');
                });
        });
    </script>
</section>

<section id= "area_of_expertise" >
    <div class="expertise marg50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo-block">
                        <div class="promo-text">Areas of Expertise</div>
                        <div class="center-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12">
                    <div class="hi-icon-effect marg50">
                        <div class="hi-icon icon-pencil"></div>
                        <div class="service-name">Education</div>
                        <div class="service-text">We give people sustainable help to help themselves by operating schools and/or training facilities and with income-generating projects and microcredits.</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12">
                    <div class="hi-icon-effect marg50">
                        <div class="hi-icon icon-shop"></div>
                        <div class="service-name">Livelihood</div>
                        <div class="service-text">We give people sustainable help to help themselves by operating schools and/or training facilities and with income-generating projects and microcredits</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12">
                    <div class="hi-icon-effect marg50">
                        <div class="hi-icon icon-fire"></div>
                        <div class="service-name">Disaster Risk Reduction</div>
                        <div class="service-text">We give people sustainable help to help themselves by operating schools and/or training facilities and with income-generating projects and microcredits</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12">
                    <div class="hi-icon-effect marg50">
                        <a href="#"><div class="hi-icon icon-user"></div></a>
                        <div class="service-name">Gender/Inclusive Growth </div>
                        <div class="service-text">Suspendisse velit ticol sodales, viverra sigirton vitae, a sigirton vitae,  orci mauris nec ipsum viverra </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12">
                    <div class="hi-icon-effect marg50">
                        <div class="hi-icon icon-cloud"></div>
                        <div class="service-name">Environment, Agriculture &amp; Climate</div>
                        <div class="service-text">Suspendisse velit ticol sodales, viverra sigirton vitae, accumsan orci mauris nec ipsum</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12">
                    <div class="hi-icon-effect marg50">
                        <div class="hi-icon icon-food"></div>
                        <div class="service-name">Health, WASH &amp; Nutrition </div>
                        <div class="service-text">Suspendisse velit ticol sodales, viverra sigirton vitae, accumsan orci mauris nec ipsum</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12">
                    <div class="hi-icon-effect marg50">
                        <div class="hi-icon icon-graduation-cap"></div>
                        <div class="service-name">Monitoring, Evaluation, &amp; Learning </div>
                        <div class="service-text">Suspendisse velit ticol sodales, viverra sigirton vitae, accumsan orci mauris nec ipsum</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12">
                    <div class="hi-icon-effect marg50">
                        <div class="hi-icon icon-lightbulb"></div>
                        <div class="service-name">Social Development </div>
                        <div class="service-text">Suspendisse velit ticol sodales, viverra sigirton vitae, accumsan orci mauris nec ipsum</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12">
                    <div class="hi-icon-effect marg50">
                        <div class="hi-icon icon-database"></div>
                        <div class="service-name">Private Sector</div>
                        <div class="service-text">Suspendisse velit ticol sodales, viverra sigirton vitae, accumsan orci mauris nec ipsum</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="partners_collaborations">
    <div class="container " >
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-block">
                    <div class="promo-text">Partners and Collaborations</div>
                    <div class="center-line"></div>
                </div>
            </div>
            <div class="col-lg-12 marg45">
                <div class="jcarousel-wrapper">
                    <div class="jcarousel">
                        <ul>
                            <li><a href="#"><img src="/images/partner-1.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/partner-2.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/partner-3.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/partner-4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/partner-5.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/partner-6.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/partner-7.png" alt=""></a></li>
                        </ul>
                    </div>
                    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                    <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="careers">
    <div class="career-part">
        <div class="container marg50">
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo-block">
                        <div class="promo-text">About Careers</div>
                        <div class="center-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="marg50">
                        <p class="about-text"><span class="first-letter">W</span>e currently have vacancies for the below mentioned position(s). If you fit in any one of the positions, please drop your resume at the earliest. We’d be more than happy to have you at our office. We strongly believe in individual growth, and so we have ample growth opportunities for you in terms of career and skills. We also emphasize on team work and have developed platforms for sharing knowledge and skills.</p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="promo-block">
                        <div class="promo-text">Apply Now</div>
                        <div class="center-line"></div>
                    </div>
                    <div class="row">
                        <div class="marg75">
                            <div class="col-lg-8 col-lg-offset-2">
                                <form name="sentMessage" id="contactForm" novalidate="">
                                    <div class="control-group col-lg-6  col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group floating-label-form-group controls">
                                            <label>Name</label>
                                            <input type="text" class="form-control" placeholder="Name" id="name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 control-group">
                                        <div class="form-group floating-label-form-group controls">
                                            <label>Email Address</label>
                                            <input type="email" class="form-control" placeholder="Email Address" id="email" required="" data-validation-required-message="Please enter your email address.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 control-group">
                                        <div class="form-group floating-label-form-group controls">
                                            <label>Phone Number</label>
                                            <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required="required" data-validation-required-message="Please enter your phone number.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 control-group">
                                        <div class="form-group floating-label-form-group controls">
                                            <label>Position</label>
                                            <select name="position" class="form-control" id="position" required="">
                                                <option>Please Choose a Position</option>
                                                <option value="professional">Professional</option>
                                                <option value="trainee">Trainee</option>
                                                <option value="intern">Intern</option>
                                            </select>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="control-group col-xs-12">
                                        <div class="form-group  floating-label-form-group controls">
                                            <label>Message</label>
                                            <textarea rows="5" class="form-control" placeholder="Message" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 control-group">
                                        <div class="form-group floating-label-form-group controls">
                                            <label>Upload CV</label>
                                            <input type="file" class="form-control" placeholder="Upload CV" id="upload-cv" required="" data-validation-required-message="Please upload your CV">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <br>
                                    <div id="success"></div>
                                    <div class=" col-lg-12 col-xs-12">
                                        <div class="form-group text-center ">
                                            <input type="submit" id="submit_btn" class="btn btn-primary btn-lg btn3d" value="Send message" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="team_members">
    <div class="container" >
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-block">
                    <div class="promo-text">Team Members</div>
                    <div class="center-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="advisors">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-block">
                    <div class="promo-text">Our Awesome Advisor</div>
                    <div class="center-line"></div>
                </div>
            </div>
        </div>
    </div>


    <div class=" container content">
        <div class="row">
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member1.png" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>John Doe</h4>
                        <span>Marketing</span>
                        <p>Pellentesque luctus ac lorem id luctus aenean sagittis magna sit amet purus.</p>
                        <ul class="soc-about">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member1.png" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>John Doe</h4>
                        <span>Marketing</span>
                        <p>Pellentesque luctus ac lorem id luctus aenean sagittis magna sit amet purus.</p>
                        <ul class="soc-about">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member1.png" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>John Doe</h4>
                        <span>Marketing</span>
                        <p>Pellentesque luctus ac lorem id luctus aenean sagittis magna sit amet purus.</p>
                        <ul class="soc-about">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div><!-- //end row -->
    </div>


    <div class="container" id="management">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-block">
                    <div class="promo-text">Our Awesome Management</div>
                    <div class="center-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class=" container content">
        <div class="row">
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member1.png" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>John Doe</h4>
                        <span>Marketing</span>
                        <p>Pellentesque luctus ac lorem id luctus aenean sagittis magna sit amet purus.</p>
                        <ul class="soc-about">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member1.png" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>John Doe</h4>
                        <span>Marketing</span>
                        <p>Pellentesque luctus ac lorem id luctus aenean sagittis magna sit amet purus.</p>
                        <ul class="soc-about">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member1.png" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>John Doe</h4>
                        <span>Marketing</span>
                        <p>Pellentesque luctus ac lorem id luctus aenean sagittis magna sit amet purus.</p>
                        <ul class="soc-about">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- //end row -->
    </div>


    <div class="container" id="consultants">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-block">
                    <div class="promo-text">Our Awesome Consultants</div>
                    <div class="center-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class=" container content">
        <div class="row">
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="/images/serious.jpg" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>John Doe</h4>
                        <span>Marketing</span>
                        <p>Pellentesque luctus ac lorem id luctus aenean sagittis magna sit amet purus.</p>
                        <ul class="soc-about">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="/images/smile.jpg" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>John Doe</h4>
                        <span>Marketing</span>
                        <p>Pellentesque luctus ac lorem id luctus aenean sagittis magna sit amet purus.</p>
                        <ul class="soc-about">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="/images/blonde.jpg" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>John Doe</h4>
                        <span>Marketing</span>
                        <p>Pellentesque luctus ac lorem id luctus aenean sagittis magna sit amet purus.</p>
                        <ul class="soc-about">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- //end row -->
    </div>
</section>

<section id="works_portfolio">
    <div class="container-color marg50" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo-block">
                        <div class="promo-text ">Our Works / Portfolio </div>
                        <div class="center-line"></div>
                    </div>
                    <div class="promo-paragraph">Pellentesque luctus ac lorem id luctus. Aenean sagittis magna sit amet purus vehicsula. Tristique nunc a felis ultrices phasellus vitae ultrices lectus, eget posuere est. Win none ipsum suspendisse eu velit sodales, viverra lorem vitae, accumsan orci sagittis</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container marg30">
            <div class="grid hover-3">
                <div class="cbp-l-grid-projects" id="grid-container">
                    <ul>
                        <li class="cbp-item">
                            <div class="portfolio-main">
                                <figure>
                                    <img src="/images/99.jpg" alt="">
                                    <figcaption>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <h3> Nepal Earthquake Recovery Phase </h3>
                                                <span>World Vision International</span>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="/images/99.jpg" class="portfolio-attach cbp-lightbox" data-title="Research and Study"><i class="icon-search"></i></a>
                                                <a href="portfolio/project9.html" class="portfolio-search cbp-singlePageInline"><i class="icon-attach"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </li>
                        <li class="cbp-item">
                            <div class="portfolio-main">
                                <figure>
                                    <img src="/images/22.jpg" alt="">
                                    <figcaption>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <h3>Review of Cash Based Intervention</h3>
                                                <span>Oxfam</span>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="/images/22.jpg" class="portfolio-attach cbp-lightbox" data-title="Monitoring and evaluation"><i class="icon-search"></i></a>
                                                <a href="portfolio/project2.html" class="portfolio-search cbp-singlePageInline"><i class="icon-attach"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </li>
                        <li class="cbp-item">
                            <div class="portfolio-main">
                                <figure>
                                    <img src="/images/33.jpg" alt="">
                                    <figcaption>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <h3>Recovery, Reconstruction &amp; Resilience project</h3>
                                                <span>Lutheran World Federation</span>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="/images/33.jpg" class="portfolio-attach cbp-lightbox" data-title="Capacity Development/<br> Training/Worshop"><i class="icon-search"></i></a>
                                                <a href="portfolio/project3.html" class="portfolio-search cbp-singlePageInline"><i class="icon-attach"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </li>
                        <li class="cbp-item">
                    <div class="portfolio-main">
                        <figure>
                            <img src="/images/44.jpg" alt="">
                            <figcaption>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h3>Education, Life-skills &amp; Economic Opportunities </h3>
                                        <span>Plan International</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="/images/44.jpg" class="portfolio-attach cbp-lightbox" data-title="Data Entry/ Data Analysis"><i class="icon-search"></i></a>
                                        <a href="portfolio/project4.html" class="portfolio-search cbp-singlePageInline"><i class="icon-attach"></i></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </li>
                        <li class="cbp-item">
                    <div class="portfolio-main">
                        <figure>
                            <img src="/images/55.jpg" alt="">
                            <figcaption>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h3>Nutrition Pilot Project </h3>
                                        <span>World Vision International</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="/images/55.jpg" class="portfolio-attach cbp-lightbox" data-title="People Development"><i class="icon-search"></i></a>
                                        <a href="portfolio/project5.html" class="portfolio-search cbp-singlePageInline"><i class="icon-attach"></i></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </li>
                        <li class="cbp-item">
                    <div class="portfolio-main">
                        <figure>
                            <img src="/images/66.jpg" alt="">
                            <figcaption>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h3>Livelihood Program </h3>
                                        <span>International Federation (IFRC) / American Red Cross / Spanish Red Cross</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="/images/66.jpg" class="portfolio-attach cbp-lightbox" data-title="Management Consulting/Documentation"><i class="icon-search"></i></a>
                                        <a href="portfolio/project6.html" class="portfolio-search cbp-singlePageInline"><i class="icon-attach"></i></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </li>
                    </ul>
                </div>
                <div class="col-lg-12">
                <div class="button-center"><a href="portfolio/loadmore.html" class="btn-simple cbp-l-loadMore-button-link">Load Full Portfolio</a></div>
            </div>
            </div>
    </div>
</section>

<section id="newsletter_subscription">
    <div class=" prl-2">
        <div class="prlx-2">
            <div class="container marg50">
                <div class="row marg50">
                    <div class=" col-lg-12 newsletter">
                        <h2 class="text-center">Newsletter Subscription</h2>
                        <p class="text-center">Subscribe to our newsletter to receive latest news and offer</p>
                        <form>
                            <input type="email" value="" name="EMAIL" placeholder="Your E-mail..." class="required email newsletter-form" id="">
                            <input type="submit" value="Subscribe" name="subscribe" id="" class="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonials">
    <div class="container padng50">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="promo-block">
                    <div class="promo-text">Testimonials</div>
                    <div class="center-line"></div>
                </div>
                <div class="marg45">
                    <div class="testimonialrotator skin_default" id="tr1" style="height: 248px;">
                        <div class="testimonial" style="display: block;">
                            <div class="testtext">Aenean luctus non eros et bibendum. Vivamus facilisis sollicitudin auctor. In tellus ante, porttitor et gravida non, tincidunt lacinia augue. Aliquam accumsan eros nec lectus tempus, sit amet sollicitudin lorem iaculis et suscipit risus metus ac urna.</div>
                            <div class="testauthor-img"><img src="/images/mike.jpg"></div>
                            <div class="testauthor">John Doe</div>
                            <div class="testauthor-desc">Menager CEO</div>
                            <div class="testauthor-rating">
                                <ul>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="testimonial" style="display: none;">
                            <div class="testtext">Duis nec neque bibendum, mollis arcu eget, lacinia sem. Sed nec purus a metus facilisis mollis. Suscipit risus metus ac urna. Vivamus sollicitudin id sem a blandit. Donec ut imperdiet arcu. Integer aliquet scelerisque aliquet...</div>
                            <div class="testauthor-img"><img src="/images/mila.png"></div>
                            <div class="testauthor">Mila Markovna</div>
                            <div class="testauthor-desc">Disney Inc.</div>
                            <div class="testauthor-rating">
                                <ul>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="testimonial" style="display: none;">
                            <div class="testtext">Proin sagittis turpis nisi, sit amet bibendum odio faucibus at. Nunc facilisis ipsum quis fermentum auctor. Curabitur felis lorem, aliquam quis ornare et, luctus a sapien. Nunc sollicitudin metus at condimentum adipiscing. Suscipit risus metus ac urna.</div>
                            <div class="testauthor-img"><img src="/images/mike.png"></div>
                            <div class="testauthor">Jonathan Smith</div>
                            <div class="testauthor-desc">Google Corp.</div>
                            <div class="testauthor-rating">
                                <ul>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" id ="recent_news">
                <div class="promo-block recent-news">
                    <div class="promo-text">Recent News</div>
                    <div class="center-line"></div>
                </div>
                <div class="row marg45">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                        <div class="blog-main">
                            <div class="blog-images">
                                <div class="view view-fifth">
                                    <img src="/images/blog1.jpg" alt="">
                                    <div class="mask"><a href="#" class="btn-blog">Read More</a></div>
                                </div>
                            </div>
                            <div class="blog-icon"><i class="icon-music"></i></div>
                            <div class="blog-name"><a href="#">Taresent very bear</a></div>
                            <div class="blog-desc">Fabruary 17, 2014 by <a href="#">Dankov</a>, in <a href="#">Envato</a></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                        <div class="blog-main">
                            <div class="blog-images">
                                <div class="view view-fifth">
                                    <img src="/images/blog2.jpg" alt="">
                                    <div class="mask"><a href="#" class="btn-blog">Read More</a></div>
                                </div>
                            </div>
                            <div class="blog-icon"><i class="icon-pencil"></i></div>
                            <div class="blog-name"><a href="#">Premium fermentum</a></div>
                            <div class="blog-desc">March 17, 2014 by <a href="#">Admin</a>, in <a href="#">Envato</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="client">
    <div class="client-part">
        <div class="container " id="our_clients">
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo-block">
                        <div class="promo-text">Our Clients</div>
                        <div class="center-line"></div>
                    </div>
                </div>
                <div class="col-lg-12 marg45">
                    <div class="jcarousel-wrapper">
                        <div class="jcarousel">
                            <ul>
                                <li><a href="#"><img src="/images/client-1.png" alt=""></a></li>
                                <li><a href="#"><img src="/images/client-2.png" alt=""></a></li>
                                <li><a href="#"><img src="/images/client-3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/images/client-4.png" alt=""></a></li>
                                <li><a href="#"><img src="/images/client-5.png" alt=""></a></li>
                                <li><a href="#"><img src="/images/client-6.png" alt=""></a></li>
                                <li><a href="#"><img src="/images/client7.png" alt=""></a></li>
                                <li><a href="#"><img src="/images/client-8.png" alt=""></a></li>
                                <li><a href="#"><img src="/images/client-9.jpg" alt=""></a></li>

                            </ul>
                        </div>
                        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact_us">
    <div class="container marg25">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-block">
                    <div class="promo-text">Where Find Us?</div>
                    <div class="center-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container marg50">
        <div class="row">
            <div class="col-lg-12">
                <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ru/?ie=UTF8&amp;ll=42.376467,-71.063175&amp;spn=0.006967,0.016512&amp;t=m&amp;z=17&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
    <div class="container marg10">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="promo-block">
                    <div class="promo-text">Contact Form</div>
                    <div class="center-line"></div>
                </div>
                <div class="marg50">
                    <div class="row">
                        <div class="marg75">
                            <div class="col-lg-8 col-lg-offset-2">
                                <form name="sentMessage" id="contactForm" novalidate="">
                                    <div class="control-group col-lg-6  col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group floating-label-form-group controls">
                                            <label>Name</label>
                                            <input type="text" class="form-control" placeholder="Name" id="name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 control-group">
                                        <div class="form-group floating-label-form-group controls">
                                            <label>Email Address</label>
                                            <input type="email" class="form-control" placeholder="Email Address" id="email" required="" data-validation-required-message="Please enter your email address.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 control-group">
                                        <div class="form-group floating-label-form-group controls">
                                            <label>Phone Number</label>
                                            <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required="required" data-validation-required-message="Please enter your phone number.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="control-group col-lg-6  col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group floating-label-form-group controls">
                                            <label>Subject</label>
                                            <input type="text" class="form-control" placeholder="Subject" id="subject" required="" data-validation-required-message="Please enter subject heading." aria-invalid="false">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="control-group col-xs-12">
                                        <div class="form-group  floating-label-form-group controls">
                                            <label>Message</label>
                                            <textarea rows="5" class="form-control" placeholder="Message" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <br>
                                    <div id="success"></div>
                                    <div class=" col-lg-12 col-xs-12">
                                        <div class="form-group text-center ">
                                            <input type="submit" id="submit_btn" class="btn btn-primary btn-lg btn3d" value="Send message" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <% include common/footer %>
</footer>

    <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
    <script type='text/javascript'>
        $(document).ready(function(){
            $(window).scroll(function(){
                if ($(this).scrollTop() > 100) {
                    $('#scroll').fadeIn();
                } else {
                    $('#scroll').fadeOut();
                }
            });
            $('#scroll').click(function(){
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });
        });
    </script>

</div>
</body>
</html>