
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include common/header %>
</header>

<section id="portfolio_body">
    <div class="container marg50">
        <div class="row">
            <div class="col-lg-9">
                <div id="main">
                    <section class="slider">
                        <div class="flexslider">
                            <ul class="slides">
                                <li><img src="/images/large_44.jpg"></li>
                                <li><img src="/images/large_22.jpg"></li>
                                <li><img src="/images/large_11.jpg"></li>
                                <li><img src="/images/large_33.jpg"></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-lg-3">
                <ul class="portfolio-item">
                    <li>Name: Xenia</li>
                    <li>Date: 05.02.2014</li>
                    <li>Category: Corporate</li>
                    <li>Author: Dankov</li>
                    <li>Client: Themeforest</li>
                </ul>
                <div class="row">
                    <div class="col-lg-4 col-xs-4 pull-left"><a href="#" class="btn-item pull-left">« Prev</a></div>
                    <div class="col-lg-4 col-xs-4"><div class="item-heart"><i class="icon-heart"></i></div></div>
                    <div class="col-lg-4 col-xs-4 pull-right"><a href="#" class="btn-item pull-right">Next »</a></div>
                </div>
            </div>
        </div>
        <div class="row marg25">
            <div class="col-lg-12">
                <ul class="portfolio-item">
                    <li>Description:</li>
                </ul>
                <div class="portfolio-item-text">Pellentesque augue augue, cursus id nisl id, facilisis egestas magna. Nullam sed diam et magna tincidunt malesuada id euismod justo. Cras mollis imperdiet mauris, nec sollicitudin leo rutrum a. Nullam iaculis porta turpis. Suspendisse pharetra magna non nulla posuere ornare. Donec et eros sit amet nulla tempor feugiat. Nulla ornare libero magna. Phasellus dolor mi, gravida a velit ut, dapibus tincidunt augue. Donec gravida leo vitae consectetur volutpat. Aenean posuere ullamcorper dui, sed adipiscing arcu mollis ac. Quisque non arcu id arcu euismod laoreet nec in sapien. Nam nisi dolor, fermentum eget placerat a, sollicitudin ut ante. Sed non lacus tincidunt, rhoncus sapien id, mattis leo. Fusce a ante id elit consequat imperdiet. Praesent fermentum nisl id justo viverra, sit amet tincidunt tellus vulputate. Morbi sed volutpat velit.</div></div>
        </div>
    </div>
    <div class="container marg75">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-block">
                    <div class="promo-text">Recent Works</div>
                    <div class="center-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container marg50">
        <div class="grid hover-3">
            <div class="cbp-l-grid-projects" id="grid-container">
                <ul>
                    <li class="cbp-item">
                        <div class="portfolio-main">
                            <figure>
                                <img src="assets/images/11.jpg" alt="">
                                <figcaption>
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <h3>Gadgets</h3>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="assets/images/11.jpg" class="portfolio-attach cbp-lightbox" data-title="Gadgets<br>by Jacob Cummings"><i class="icon-search"></i></a>
                                            <a href="portfolio/project1.html" class="portfolio-search cbp-singlePageInline"><i class="icon-attach"></i></a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </li>
                    <li class="cbp-item">
                        <div class="portfolio-main">
                            <figure>
                                <img src="assets/images/22.jpg" alt="">
                                <figcaption>
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <h3>Monitoring and Evaluation</h3>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="assets/images/22.jpg" class="portfolio-attach cbp-lightbox" data-title="Monitoring and evaluation"><i class="icon-search"></i></a>
                                            <a href="portfolio/project2.html" class="portfolio-search cbp-singlePageInline"><i class="icon-attach"></i></a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </li>
                    <li class="cbp-item">
                        <div class="portfolio-main">
                            <figure>
                                <img src="assets/images/33.jpg" alt="">
                                <figcaption>
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <h3>Capacity Development / Training / Worshop</h3>
                                        </div>
                                        <div class="col-xs-4"">
                                        <a href="assets/images/33.jpg" class="portfolio-attach cbp-lightbox" data-title="Capacity Development/<br> Training/Worshop"><i class="icon-search"></i></a>
                                        <a href="portfolio/project3.html" class="portfolio-search cbp-singlePageInline"><i class="icon-attach"></i></a>
                                    </div>
                        </div>
                        </figcaption>
                        </figure>
            </div>
            </li>
            <li class="cbp-item">
                <div class="portfolio-main">
                    <figure>
                        <img src="assets/images/44.jpg" alt="">
                        <figcaption>
                            <div class="row">
                                <div class="col-xs-8">
                                    <h3>Data Entry / Data Analysis</h3>
                                </div>
                                <div class="col-xs-4">
                                    <a href="assets/images/44.jpg" class="portfolio-attach cbp-lightbox" data-title="Data Entry/ Data Analysis"><i class="icon-search"></i></a>
                                    <a href="portfolio/project4.html" class="portfolio-search cbp-singlePageInline"><i class="icon-attach"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </li>
            <li class="cbp-item">
                <div class="portfolio-main">
                    <figure>
                        <img src="assets/images/55.jpg" alt="">
                        <figcaption>
                            <div class="row">
                                <div class="col-xs-8">
                                    <h3>People Development</h3>
                                </div>
                                <div class="col-xs-4">
                                    <a href="assets/images/55.jpg" class="portfolio-attach cbp-lightbox" data-title="People Development"><i class="icon-search"></i></a>
                                    <a href="portfolio/project5.html" class="portfolio-search cbp-singlePageInline"><i class="icon-attach"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </li>
            <li class="cbp-item">
                <div class="portfolio-main">
                    <figure>
                        <img src="assets/images/66.jpg" alt="">
                        <figcaption>
                            <div class="row">
                                <div class="col-xs-8">
                                    <h3>Management Consulting / Documentation</h3>
                                </div>
                                <div class="col-xs-4">
                                    <a href="assets/images/66.jpg" class="portfolio-attach cbp-lightbox" data-title="Management Consulting/Documentation"><i class="icon-search"></i></a>
                                    <a href="portfolio/project6.html" class="portfolio-search cbp-singlePageInline"><i class="icon-attach"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </li>
            </ul>
        </div>
    </div>
    </div>
    <script type="text/javascript">
        $(window).load(function(){
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: false,
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
</section>


<footer id="footer">
    <% include common/footer %>
</footer>

</body>
</html>